<h1>Admin::Dashboard#show</h1>
<ul class="list-group">
  <li>There are currently <%=@product%>  <a href = "http://localhost:3000/admin/products">products </a></li>
  <li>There are currently <%=@category%> categories</li>
</ul>