<section class="orders-show">
  <h1>ABOUT US</h1>
  <p>This website sells only the most indemand products at the best(ish) prices</p>
  <p>At Jungle we pride ourselves on the highest quality items and reasonable prices. If you are not satisfied that kinda sucks for you though as we do not offer refunds</p>
  

    <div>Note this page was designed buy someone with lack of eye for design so here is a meme.</div>
    <img src = 'https://remote-tools-images.s3.amazonaws.com/programmer-memes/11.jpg'> </img>
</section>
